* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  line-height: 1.42857143;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

h1, h5 {
  text-align: center;
}

h1 {
  margin: 4rem;
  font-size: 3rem;
}

h5 {
  font-size: large;
  padding-top: 1.3rem;
}

a {
  outline: none;
  text-decoration: none;
  color: inherit;
}

.deck-wrap {
  display: flex;
  flex-direction: column;
}

.deck {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 18rem;
  height: 17rem;
  position: relative;
  margin: 1rem 1rem 3rem 1rem;
  border-radius: 5px;
  background: #F3F3E7;
  box-shadow: 0px 2px 15px rgb(0 0 0 / 50%);
}

.card-content, .card-details {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-evenly;
}

.card-details {
  padding: 0 0.5rem;
}

.card:hover {
  opacity: 0.9;
  transform: scale(1.03);
}

.card-title {
  padding: 1.2rem;
  background-color: #B2C4CB;
}

.bg-img {
  position: absolute;
  transform: translate(4.5rem, -80%);
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
}
